<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UFATOP1</title>
  link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css",rel="stylesheet",type="text/css")
  link(href="wireframe.css",rel="stylesheet")
</head>
<body>
  <div class="text-center py-5">
    <div class="container">
      <div class="row my-5 justify-content-center">
        <div class="col-md-9">
          <h1>UFATOP1</h1>
          <p class="lead text-muted">UFATOP1.NET NO1 GOOGLE SEARCH</p>
          <form action='/m_keySS' method='get'>
           <input class="form-control mr-sm-2" type="text" placeholder="Search" name="m_keySS" required ><br/>
           <button id="btn_send" class="btn my-2 my-sm-0 btn-primary" type="submit" >Search</button>
           //input(type='submit', value='Submit')
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>รายการ คอนโด ในเขต กรุงเทพ ราคา ไม่เกิน 2,000,000 บาท</h2>
          <hr class="mb-4"> </div>
      </div>
    </div>
  </div> 

  <div class="bg-light">
    <div class="container">
      <div class="row">
      

        include ../dotproperty.pug
        include ../livinginsider.pug
        include ../bkkcitismart.pug
        include ../zmyhome.pug
        include ../kaidee.pug

      </div>
    </div>
</div>
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")

</body>
</html>